.container {
  width: 375px;
  background-image: url(../public/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: 0% -30%;
}

.prebody {
  width: 327px;
  margin: auto;
  margin: 2.5rem;
}

.mainbody {
  display: grid;
}

.layer1 {
  display: grid;
  justify-content: center;
  border-radius: 10px;
  z-index: 1;
}

.layer1 img{
  width: 209px;
}

.layer2 {
  background-color: var(--black);
  height: 500px;
  border-radius: 10px;
  background-image: url(../public/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-position: 50% 0%; 
  margin-top: -330px;
}


.layer3 {
  background-color: var(--orange);
  color: var(--white);
  height: 440px;
  border-radius: 10px;
  margin-top: -75px;
  display: grid;
  justify-content: center;
}

.layer3-content {
  width: 327px;
}

.layer3-content > * {
  display: grid;
}

.price {
 display: grid;
 grid-template-columns: auto auto;
 justify-content: start;  
 align-items: center;
 column-gap: 15px;
}

.dollar {
  font-size: 65px;
  font-weight: bold;
}

.postbody {
  width: 327px;
  margin: auto;
  margin-top: 2.5rem;
}

.buttons button {
  margin-top: 15px;
}

.footer {
  width: 327px;
  margin: auto;
}