.container {
  /* display: grid; */
  /* grid-template-columns: 375px; */
  width: 375px;

  /* mobile */
  /* justify-items: center; */
  /* justify-content: left; */
  



  /* padding: 0 2rem; */
  background-image: url(../public/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: 0% -30%;
}

.prebody {
  width: 327px;
  margin: auto;
  /* display: grid; */
  /* justify-content: right; */
  /* justify-items: right; */
  margin: 2.5rem;
}

/* .prebody > * {
  border: 2px solid red;
} */

.mainbody {
  display: grid;
  /* justify-items: center; */

}

.layer1 {
  display: grid;
  justify-content: center;
  /* height: 400px; */
  border-radius: 10px;
  z-index: 1;
}

.layer1 img{
  width: 209px;
}

.layer2 {
  background-color: var(--black);
  height: 500px;
  border-radius: 10px;
  background-image: url(../public/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-position: 50% 0%; 
  margin-top: -330px;
}


.layer3 {
  background-color: var(--orange);
  color: var(--white);
  height: 440px;
  border-radius: 10px;
  margin-top: -75px;

  /* padding: 0px 1.51rem; */
  display: grid;
  justify-content: center;
  /* justify-items: center; */
}

.layer3-content {
  width: 327px;
  /* margin: auto; */
  /* border: 2px solid green; */


}

.layer3-content > * {
  /* border: 2px solid red; */
  display: grid;
  /* align-items: center; */
  /* align-content: center; */
  /* justify-items: center; */
  /* justify-content: center; */

}

/* .price > * {
  border: 1px solid red;
} */
.price {
 display: grid;
 grid-template-columns: auto auto;
 justify-content: start;  
 align-items: center;
 column-gap: 15px;
}

.dollar {
  font-size: 65px;
  font-weight: bold;
}

.postbody {
  width: 327px;
  margin: auto;
  margin-top: 2.5rem;
}

.buttons button {
  margin-top: 15px;
  /* border: 1px solid red; */
}

.footer {
  width: 327px;
  margin: auto;
}

@media (max-width: 375px) {
  
}